**/__pycache__/
*.py[cod]
data/**

# BUT keep the top-level files inside data/
!data/*.py
!data/*.txt

# Also keep the directories themselves (so structure exists)
!data/amass/
!data/data_processed/
!data/h36m/
!data/smpl_official/